{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-3">
            <h3 class="text-center">Trader 1</h3>
            <div class="card mb-4" style="width: 18rem;">
                <img src="{% static 'assets/img/products/tomatoes.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark mb-0">65 rs/kg</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Trader 2</h3>
            <div class="card mb-4" style="width: 18rem;">
                <img src="{% static 'assets/img/products/tomatoes.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark mb-0">69 rs/kg</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Trader 3</h3>
            <div class="card mb-4" style="width: 18rem;">
                <img src="{% static 'assets/img/products/tomatoes.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark mb-0">63 rs/kg</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="text-center">Trader 4</h3>
            <div class="card mb-4" style="width: 18rem;">
                <img src="{% static 'assets/img/products/tomatoes.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark mb-0">62 rs/kg</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
